/* Custom Variables starts */
:root {
  --primary-color: #ffa700;
  --white-color: #ffffff;
  --heading-color: #3a3a3a;
  --grey-color1: #f9f9f9;
  --grey-color2: #dddddd;
  --border-color: #ffa70080;
  --box-shadow1: 4px 6px 15px rgba(0, 0, 0, 0.15);
  --box-shadow2: 3px -3px 20px rgba(0, 0, 0, 0.15);

  /* Note: Use the custom variables like this
        selector {
            background-color: var(--primary-color);
            box-shadow: var(--box-shadow1);
        }

        And you can add more
   */
}
/* Custom Variables ends */

/* General starts  */
*,
*::after,
*::before {
  /* universal selector */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; /* Set all anchor links Text decoration to none */
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Mulish", sans-serif;
}

/* General ends  */

/* Header starts  */

/* Header ends  */

/* About us starts  */

/* About us ends  */

/* Featured Projects starts  */

/* Featured Projects ends  */

/* Workflow starts  */

/* Workflow ends  */

/* Services starts  */

.services {
    background: var(--white-color);
    padding: 30px;
}

.service {
    text-align: center;
    font-weight: bold;
}

.title {
    color: var(--primary-color);
}

.grid_content {
    text-align: center;
    border: 2px solid var(--border-color);
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    margin: 0 auto;
    padding: 12px 16px 18px 16px;
}

@media screen and (max-width: 500px) {
    #container {
        display: flex;
        -webkit-display: flex;
        flex-direction: column;
        margin: auto;
    
    }
    
    .grid_content {
        margin: 12px 0;
    }
    
    .service {
        font-size: 24px;
    }
    
    .title {
        font-size: 20px;
    }
    
    .icon > img {
        width: 32%;
    }
    
    .text {
        font-size: 16px;
    }
    
}

@media screen and (min-width: 501px) and (max-width: 770px) {
    #container {
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        padding: 10px;
        
    }
    
    .service {
        font-size: 26px;
    }
    
    .title {
        font-size: 22px;
    }
    
    .icon > img {
        width: 36%;
    }
    
    .text {
        font-size: 18px;
    }
    
}

@media screen and (min-width: 771px) and (max-width: 1200px) {
    #container {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 10px;
        
    }
    
    .service {
        font-size: 27px;
    }
    
    .title {
        font-size: 23px;
    }
    
    .icon > img {
        width: 40%;
    }
    
    .text {
        font-size: 19px;
    }
    
}

/* Services ends  */

/* Testimonial starts  */

/* Testimonial ends  */

/* Company starts  */

/* Comapny ends  */

/* Blog starts  */

/* Blog ends  */

/* Company's Details starts  */

/* Company's Details ends  */

/* Contact starts  */

/* Contact ends  */

/* Footer starts  */

/* Footer ends  */
